
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<h1 style="color:lightslategray; font-family:'Agency FB'; font-style:oblique; font-size:xx-large">Ad: Yunus Emre Kobal</h1>

