
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2 style="text-align:center">MVC PROJE KAMPI TABLOSU - KATEGORİ</h2>
    <div class="position-relative p-5">
        <table class="table table-dark table-hover rounded-pill">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ADI</th>
                    <th>AÇIKLAMA</th>
                    <th>DURUM</th>
                    <th>GÜNCELLE</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Eğitim</td>
                    <td>Bu Alanda Egitim Konusulur</td>
                    <td>True</td>
                    <td><button class="btn btn-success rounded-pill">Güncelle</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Spor</td>
                    <td>Bu Alanda Trabzonspor Vardır</td>
                    <td>True</td>
                    <td><button class="btn btn-success rounded-pill">Güncelle</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tiyatro</td>
                    <td>Bu Alanda Tiyotro Konusulur</td>
                    <td>True</td>
                    <td><button class="btn btn-success rounded-pill">Güncelle</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sinema</td>
                    <td>Bu Alanda Film Onerileri Vardır</td>
                    <td>True</td>
                    <td><button class="btn btn-success rounded-pill">Güncelle</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kitap</td>
                    <td>Bu Alanda Kitap Onerileri Vardır</td>
                    <td>True</td>
                    <td><button class="btn btn-success rounded-pill">Güncelle</button></td>
                </tr>
            </thead>
        </table>
        <button class="btn btn-success rounded-pill">Yeni Kategori Ekle</button>
        <button class="btn btn-primary rounded-pill">Kategori Listesi</button>
        <button class="btn btn-danger rounded-pill">Kategori Açıklamaları</button>

    </div>
</body>
</html>
